/* Input.module.css */
.searchContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Add this if not already positioned relative */
    width: 300px;
    height: 100%;
    padding:0px;
  }
  
  .inputContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 300px;
    padding: 0px; 
    background-color: var(--background-color);
    border-radius: 15px 15px 15px 15px;
    
  }

  .clearButton {
    width: 50px; /* Square dimensions */
    background-color: transparent;
    border: 1px solid var(--input-border);
    border-right: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px; 
    transition: color 0.2s ease, opacity 0.2s ease;

}

.clearButton:hover{
  background-color: transparent;
  color: var(--button-hover-background)
}
  .inputField:focus {
    outline:1px solid var(--button-background);
  }
  
  .inputField {
    flex-grow: 1;
    padding: 10px;
    border: 0px solid var(--button-background);
    border-right: none; 
    border-radius: 0px 0 0 0px;
    background-color: var(--input-background);
    color: var(--text-color);
  }
  
  .inputField::placeholder {
    color: var(--placeholder-color);
  }
  
  .searchButton {
    padding: 10px 20px;
    border: 1px solid var(--input-border);
    border-left: none;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    box-shadow: -1px 0 0 0 var(--input-border);
    transition: color 0.2s ease, opacity 0.2s ease;

  }
  
  .searchButton:hover {
    color: var(--button-hover-background)
  }
  
  .resultsContainer {
    padding:15px 0px 15px 0px;
    position: absolute;
    left: 650px;
    right: 0;
    background: var(--data-point-background);
    z-index: 2222;
    box-sizing: border-box;
    width: 300px;
    max-width: 300px;
    border-radius: 15px 15px 15px 15px;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    max-width: 300px;
  }
  
  .resultItem {
    padding: 10px;
    cursor: pointer;
    word-break: break-word;
    white-space: normal;
  }
  
  .keyboardNavInactive .resultItem:hover {
    background-color: var(--button-hover-background);
    color: var(--text-color-hovered);
  }
  
  .resultItem.selectedItem {
    background-color: var(--button-hover-background);
    color: var(--selected-text-color);
  }
  
  