/* headerWrapper.css */
.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2%;
    background-color: var(--container-background);
    border-bottom: 2px solid var(--text-color-hovered);
    z-index: 1001;
    position:fixed;
    top:0px;
}

.middleComponent {
    margin-left: auto; 
    margin-right: auto;
}