/* NewsModule.module.css */
.newsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  gap: 20px;
  padding: 10px;
  width: 75%;
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
}

.newsItem {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  background-color: var(--container-background);
  border-radius: 15px;
  padding: 10px;
  transition: 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

.newsItem:hover {
  background-color: var(--container-background-hover);
}

.newsImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}

.newsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsMeta {
  display: flex;
  gap: 5px;
  align-items: center;
}

.newsPublisher, .newsTime {
  font-size: 0.8rem;
  margin: 0;
}

.newsTitle {
  font-size: 1.6em;
  margin-top: 8px;
}

.newsItem:hover .newsTitle {
  color: var(--text-color-hovered);
}

/* .newsLink:visited {
  color: var(--text-color-visited);
} */
