/* dark-theme.css */
:root {
    --background-color: #36393e;
    --text-color: #ffffff;
    --text-color-hovered: #7289da;
    --text-color-visited: #4d5d96;
    --button-background: #7289da;
    --button-hover-background: #687bc3;
    --input-background: #424549;
    --placeholder-color: #756c6c;
    --title-background: #16181a00;
    --data-point-background: #424549;
    --container-background: #282b30;
    --container-background-hover: #1e2124;
    --positive: rgb(0, 255, 0);
    --negative: red;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--button-background);
    color: var(--text-color);
}

input {
    background-color: var(--input-background);
    color: var(--text-color);
}

input::placeholder {
    color: var(--placeholder-color);
}

a:hover {
    color: var(--text-color-hovered);
}

a:visited {
    color: var(--text-color-visited);
}
