/* light-theme.css */
:root {
    --background-color: #f0f2f5;
    --text-color: #36393e;
    --text-color-hovered: #4d5d96;
    --text-color-visited: #647cb3;
    --button-background: #7289da;
    --button-hover-background: #5a6ebc;
    --input-background: #ffffff;
    --placeholder-color: #a8a8a8;
    --title-background: #e7e9ee;
    --data-point-background: #ffffff;
    --container-background: #d3d3d3;
    --container-background-hover: #c0c0c0;
    --positive: green;
    --negative: rgb(196, 0, 0);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--button-background);
    color: var(--text-color);
}

input {
    background-color: var(--input-background);
    color: var(--text-color);
}

input::placeholder {
    color: var(--placeholder-color);
}

a:hover {
    color: var(--text-color-hovered);
}

a:visited {
    color: var(--text-color-visited);
}

